
@{
    ViewBag.Title = "AddService";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<h2>AddService</h2>
<form method="post">
    <label>Hizmet Başlığı</label>
    <input type="text" name="Title" class="form-control"/>
    <button>New Service</button>
</form>

