
@{
    Layout = null;
}

<link href="~/Content/bootstrap.css" rel="stylesheet" />

<h1>Login First</h1>
<hr />
<form method="post">
    <div class="container">
        <label>Mail</label>
        <input type="text" name="MemberMail" class="form-control" />
        <br />
        <label>Password</label>
        <input type="text" name="MemberPassword" class="form-control" />
        <br />
        <button class="btn btn-warning">Login</button>
    </div>
</form>