
@{
    ViewBag.Title = "AddAbout";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<h2>SendMessage</h2>

<form method="post">
    <label>Alıcı Mail Adresi</label>
    <input type="text" class="form-control" name="ReceiverMail" />
    <br />
    <label>Konu</label>
    <input type="text" class="form-control" name="MessageSubject" />
    <br />
    <label>Mesaj</label>
    <textarea cols="2" rows="5" name="MessageContent" class="form-control"></textarea>
    <br />
    <button class="btn btn-warning">Send</button>
</form>